* {
    border:        none;
    border-radius: 0;
    font-family:   Caskaydia Cove Nerd Font, monospace;
    font-style: italic;
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(166, 166, 166, 255);
    background-color: rgba(0, 0, 0, 255);
}

#workspaces {
    margin: 0 0px;
}

#workspaces button {
    padding:    0 2px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    color: rgba(166, 166, 166, 255);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#pulseaudio {
    margin:     0px 3px 0px 3px;
    min-width:  25px;
}

#clock.date {
    margin:     0px 10px 0px 3px;
    color:      rgba(217, 216, 216, 0.4);
}

#clock.time {
    margin:     0px 10px 0px 3px;
}

#memory {
    margin: 0px 3px 0px 3px;
}

#cpu {
    margin: 0px 3px 0px 3px;
}

#tray * {
    margin-left: 5px;
	background-color: #000000;
    font-style: normal;
}
