* {
    font-family: "Iosevka NerdFont";
    font-size: 18px;
    border: none;
}
window {
    background-color: #202020;
    border: none;
    padding: 0px;
    border-radius: 12px; /* Add this */
    overflow: hidden;
}

#entry {
    color: #6B6B6B;
    border-radius: 4px;
    padding: 4px 8px;
}

#entry:selected {
    outline: none;
    color: #c1c1c1;
    background-color: #000000;
    border-radius: 8px; 
}

#entry:active {
    color: #000000;
}

#input {
    color: #c1c1c1;
    background: #202020;
    outline: none;
}

#input:focus {
    box-shadow: 0px 0px 0px 0px;
}

#scroll {
    background-color: #202020;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#list {
    padding: 0 0 0 0;
}

#outer-box, #scroll, #list {
    border-radius: 0 0 6px 6px; /* Match bottom corners if needed */
    overflow: hidden;
}
