* {
    font-family: "Iosevka NerdFont";
    font-size: 18px;
    border: none;
}

window {
    background-color: #202020;
    border: none;
    padding: 0px;
}

#entry {
    color: #6B6B6B;
}

#entry:selected {
    outline: none;
    color: #c1c1c1;
    background-color: #000000;
}

#entry:active {
    color: #000000;
}

#input {
    color: #c1c1c1;
    background: #202020;
}

#scroll {
    background-color: #202020;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#list {
    padding: 0 0 0 0;
}

